<!DOCTYPE html>
<html lang="en">
  <body class="center">
		<nav class="navbar navbar-dark bg-dark">
    
				<div >
				  <table>
					<ul class="navbar-nav mr-auto">
					 
					  <tr> 
						<th>
					  <li class="nav-item active">
						  <a class="nav-link" href="b">Home <span class="sr-only">(current)</span></a>
						</li>
					  </th>
					  <th>
						  <li></li>
					  </th>
					  <th>
						<li class="nav-item">
						  <a class="nav-link" href="rtype">Bookings</a>
						</li>
					  </th>
					  <th>
						  <li></li>
					  </th>
					  <th>
						<li class="nav-item">
							<a class="nav-link" href="gallery">Gallery</a>
						  </li>
						</th>
						<th>
						  <li></li>
						</th>
						<th>
						  <li class="nav-item">
							  <a class="nav-link" href="contact">Contact</a>
							</li>
						  </th>
						</tr>
					  </ul>
					</table>
					  </div>
					  </nav>
						  
<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_logo_container text-center">
							<div class="footer_logo">
								<a href="#"></a>
								<div>Selence</div>
								<div>**********since 1945**********</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row footer_row">
					
					<!-- Address -->
					<div class="col-lg-3">
						<div class="footer_title">Our Address</div>
						<div class="footer_list">
							<ul>
								<li>Beach Str. 345</li>
								<li>675 Pretoria SA</li>
							</ul>
						</div>
					</div>

					<!-- Reservations -->
					<div class="col-lg-3">
						<div class="footer_title">Reservations</div>
						<div class="footer_list">
							<ul>
								<li>Tel: 015 5667 889</li>
								<li>Fax; 6783 4567 889</li>
								<li>reservations@Selence.com</li>
							</ul>
						</div>
					</div>

					<!-- Newsletter -->
					<div class="col-lg-3">
						<div class="footer_title">Newsletter</div>
						<div class="newsletter_container">
							<form action="#" class="newsletter_form" id="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Your email address" required="required">
								<button class="newsletter_button">Subscribe</button>
							</form>
						</div>
					</div>

					<!-- Footer images -->
					<div class="col-lg-3">
						<div class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
							<div class="cert"><img src="assets/cert_1.png" alt=""></div>
							<div class="cert"><img src="assets/cert_2.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
  </body>
</html>
