
<!DOCTYPE html>
<html lang="en">
  <body class="center">
      <nav class="navbar navbar-dark bg-dark">
    
          <div >
            <table>
              <ul class="navbar-nav mr-auto">
               
                <tr> 
                  <th>
                <li class="nav-item active">
                    <a class="nav-link" href="b">Home <span class="sr-only">(current)</span></a>
                  </li>
                </th>
                <th>
                    <li></li>
                </th>
                <th>
                  <li class="nav-item">
                    <a class="nav-link" href="rtype">Bookings</a>
                  </li>
                </th>
                <th>
                    <li></li>
                </th>
                <th>
                  <li class="nav-item">
                      <a class="nav-link" href="gallery">Gallery</a>
                    </li>
                  </th>
                  <th>
                    <li></li>
                  </th>
                  <th>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                      </li>
                    </th>
                  </tr>
                </ul>
              </table>
                </div>
                </nav>
                
	<div class="blog">

      <!-- Blog Slider -->
      <div class="blog_slider_container">
        <div class="owl-carousel owl-theme blog_slider">
          
          <!-- Slide -->
          <div class="blog_slide">
            <div class="background_image" style="background-image:url(assets/index_blog_1.jpg)"></div>
            <div class="blog_content">
              <div class="blog_title"><a href="rtype">How to book your stay</a></div>
            </div>
          </div>
  
          <!-- Slide -->
          <div class="blog_slide">
            <div class="background_image" style="background-image:url(assets/index_blog_2.jpg)"></div>
            <div class="blog_content">
              <div class="blog_title"><a href="#">Party bookings</a></div>
            </div>
          </div>
  
          <!-- Slide -->
          <div class="blog_slide">
            <div class="background_image" style="background-image:url(assets/index_blog_3.jpg)"></div>
            <div class="blog_content">
              <div class="blog_title"><a href="#">A perfect wedding</a></div>
            </div>
          </div>
  
          <div class="blog_slide">
              <div class="background_image" style="background-image:url(assets/gallery_1.jpg)"></div>
              <div class="blog_content">
                <div class="blog_title"><a href="#">How to order our Menu</a></div>
              </div>
            </div>

              <div class="blog_slide">
                  <div class="background_image" style="background-image:url(assets/gallery_3.jpg)"></div>
                  <div class="blog_content">
                    <div class="blog_title"><a href="rrt">Room Rates</a></div>
                  </div>
                </div>

                <div class="blog_slide">
                    <div class="background_image" style="background-image:url(assets/gallery_4.jpg)"></div>
                    <div class="blog_content">
                      <div class="blog_title"><a href="#">Book a table restaurants</a></div>
                    </div>
                  </div>
          
        </div>
      </div>
    </div>

    </body>
    </html>