<!DOCTYPE html>
    <html lang="en">
   
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
          
            <title>Booking Form HTML Template</title>
          
            <!-- Google font -->
            <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
          
            
          
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
              <![endif]-->
          
          </head>
          
          <body>
  
      <div class="container">
          <div class="d-flex justify-content-center h-100">
            <div class="card">
              <div class="card-header"> 
<div class="card-body">
    <table>
      <div class="form-header">
        <h2>Please Register Here</h2>
      </div>
      
               
                    <div class="form-group">
                        <span class="form-label">.</span>
                      <input class="form-control" type="text"  [(ngModel)]="FirstName" placeholder="First Name...">
                      
                    </div>

                    <div class="form-group">
                        <span class="form-label"> .</span>
                        <input class="form-control" type="text"  [(ngModel)]="LastName" placeholder="Last Name...">
                      
                      </div>
                      <div class="form-group">
                          <span class="form-label">.</span>
                          <input class="form-control" type="text"  [(ngModel)]="Id" placeholder="Id Number...">
                          
                        </div>
                        <div class="form-group">
                            <span class="form-label">.</span>
                            <input class="form-control" type="text"  [(ngModel)]="Email" placeholder="Email...">
                            
                          </div>
                          <div class="form-group">
                              <span class="form-label">.</span>
                              <input class="form-control" type="text"  [(ngModel)]="Address" placeholder="Address...">
                              
                            </div>
                            <div class="form-btn">                     
			<button  class="submit-btn" (click)="onRegister()">Register</button>>
                            </div>
    </table>
    </div>
  
    </div>
    </div>
    </div>
    </div>
 
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
    
    </html>